@{
    ViewBag.Title = "Home Page";
}

<div id="widgets" class="container">

</div>
<script type="text/template" id="widget-template">
    <div class="view">
        <label><%- title %></label>
    </div>
</script>