<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IWorkersManager" type="RTMonSystem.Interfaces.IWorkersManager, RTMonSystem.Interfaces" />
    <container>
      <register type="IWorkersManager" mapTo="RTMonSystem.Workers.WorkersManager, RTMonSystem.Workers">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

</configuration>